* {
  /* iskaiciuoja remelius i elemento ploti */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.balta {
  background-color: #ffffff; }

.apieMane, .data-caption, .kontaktai p {
  font-family: "Cinzel";
  text-transform: uppercase; }

.headeris
.col-lg-12 {
  position: absolute;
  opacity: 1;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.material-icons .fa {
  padding-top: 50px;
  padding-right: 20px;
  color: #ffffff; }

/* ==============SLIDERIs=================== */
.fullscreen {
  z-index: 1; }
  .fullscreen img {
    width: 100%;
    height: 100vh; }

#ikonos .col-lg-12 {
  position: inherit; }

body {
  background-color: #181818;
  min-height: inherit; }

#galerijaaa img {
  padding-top: 30px; }

h3 {
  font-family: 'Stardos Stencil' !important;
  font-size: 5rem !important;
  text-transform: uppercase; }

.antraSlide {
  padding-top: 30px; }

.treciaSlide {
  padding-top: 650px; }

.indicators .active {
  background-color: #181818 !important; }

/* =============MENU =================== */
.menu .container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  z-index: 999; }

.bar1, .bar2, .bar3 {
  width: 70px;
  height: 10px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar2 {
  opacity: 0; }

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -ms-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px); }

.menu {
  position: absolute;
  z-index: 998; }

a .container {
  width: 90px; }

.side-nav {
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

ul a, a:hover, a:visited, a:link, a:active {
  color: inherit; }

.juoda {
  background-color: #181818; }

.side-nav li {
  padding-left: 50px;
  font-family: "Libre Barcode 39 Extended Text";
  padding-top: 20px;
  text-transform: uppercase; }

.button-collapse .container {
  margin-top: 50px;
  margin-left: 50px; }

/* ===============menu hoverio efektai============== */
/* =====================APIE MANE============== */
p {
  color: #F8F8FF;
  font-size: 40px;
  line-height: 50px; }

.apieMane .row {
  margin-top: 45px; }

/* ===========================KONTAKTAI===================== */
textarea {
  height: 10rem !important; }

.btn {
  background-color: #ffffff !important;
  color: #181818 !important; }

.kontaktai {
  color: #F8F8FF; }

.mysqlGalerija img {
  padding-top: 30px; }

.kontaktai
.virsutine {
  margin-top: 150px; }

.pavyko {
  color: #006600 !important; }

.row {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .row p {
    font-size: 20px;
    text-align: center; }
  .row .fa {
    margin-right: 15px; }

.slideIn {
  width: inherit;
  height: inherit;
  animation-name: hide, slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  -moz-animation-name: hide, slideIn;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: 1;
  -webkit-animation-name: hide, slideIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -o-animation-name: hide, slideIn;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: 1;
  opacity: 1; }

.slideIn.first {
  animation-delay: 0s, 0s;
  -moz-animation-delay: 0s, 0s;
  -webkit-animation-delay: 0s, 0s;
  -o-animation-delay: 0s, 0s; }

.slideIn.second {
  animation-delay: 0s, 0.5s;
  -moz-animation-delay: 0s, 0.5s;
  -webkit-animation-delay: 0s, 0.5s;
  -o-animation-delay: 0s, 0.5s; }

.slideIn.third {
  animation-delay: 0s, 1s;
  -moz-animation-delay: 0s, 1s;
  -webkit-animation-delay: 0s, 1s;
  -o-animation-delay: 0s, 1s; }

@keyframes hide {
  from {
    opacity: 0; }
  to {
    opacity: 0; } }

@-moz-keyframes hide {
  from {
    opacity: 0; }
  to {
    opacity: 0; } }

@-webkit-keyframes hide {
  from {
    opacity: 0; }
  to {
    opacity: 0; } }

@-o-keyframes hide {
  from {
    opacity: 0; }
  to {
    opacity: 0; } }

@keyframes slideIn {
  0% {
    opacity: 0;
    left: -100px; }
  1% {
    opacity: 1;
    left: -40px; }
  100% {
    opacity: 1;
    left: 0; } }

@-moz-keyframes slideIn {
  0% {
    opacity: 0;
    left: -100px; }
  1% {
    opacity: 1;
    left: -40px; }
  100% {
    opacity: 1;
    left: 0; } }

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    left: -100px; }
  1% {
    opacity: 1;
    left: -40px; }
  100% {
    opacity: 1;
    left: 0; } }

@-o-keyframes slideIn {
  0% {
    opacity: 0;
    left: -100px; }
  1% {
    opacity: 1;
    left: -40px; }
  100% {
    opacity: 1;
    left: 0; } }

.kontaktaiFonas {
  height: 100vh;
  position: absolute; }
  .kontaktaiFonas img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4; }

.fixed {
  position: fixed !important;
  top: 20px; }
