h1 {
    color: blue;
}
.fonas1 {background-color: #b2b2b2;}
.fonas2 {background-color: orange;}
.fonas3 {background-color: red;}

.didelis-tekstas {font-size: 60px;}
/* komentaras */
.plotis-100 {width: 100px;}
div h2 {font-size: 35px;}
h2 {font-size: 20px;}
/* apatinis visada laimi, jeigu nurodyta ta pati komanda */
b { color: green;}
#logotipas { width: 200px;
height: 200px;
/* 0 iki 1 */
opacity: 0.4; }
