* {
  /* iskaiciuoja remelius i elemento ploti */
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------*/
section {
  background-color: red; }
  section p {
    color: blue;
    font-size: 16px;
    font-weight: 16px; }
  section h2 {
    color: white;
    font-size: 29px;
    font-weight: 300px; }
    section h2:hover {
      color: black; }

aside {
  color: red;
  font-size: 36px;
  font-weight: 600px; }
  aside P {
    font-weight: 300px;
    font-size: 14px; }

.aukstis-100 {
  height: 100px; }

.aukstis-300 {
  height: 300px; }

.aukstis-500 {
  height: 300px; }

/*  */
