h1 {
  color: blue;
}

.fonas1 {
  background-color: #b2b2b2;
}
.fonas2 {
  background-color: orange;
}
.fonas3 {
  background-color: red;
}

.didelis-tekstas {
  font-size: 60px;
}
  /*komentaras*/
.plotis-100 {
  width: 100px;
}
h2 {
  font-size: 60px
}
div h2 {
  font-size: 20px
}
body div h2 b {
  color: green;
}

#logotipas {
  width: 200px;
  height: 200px;
  opacity: 0.2;
}
