[data-slides] {
	background-image: url("../img/1920/1.jpg"); /* Default image. */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: background-image 1s linear;
}