// Main Sass File

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext');

@import "mixins";
// @import "dataCSS";


$spalva_tamsiai_juoda: rgb(117, 116, 116);
$nav_border_spalva: rgb(201, 201, 201);
$nav_spalva: rgb(235, 235, 235);



p {
    
}
// h1, h2, h3, h4, h5, h6 {
h1 {
    
}


s {
    color: gray; // sale prekems spava ruda
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    
}

.line-div {
    @include lineDiv();
}

#super-absolute {
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: rgb(12, 12, 12);
    transition: width 2s ease;
    z-index: 200;
    // transition: height 4s;
    h1 {
        opacity: 0;
    }
    &:hover h1 {
        transition: 5s ease;
        opacity: 1;

    }
    &:hover {
        z-index: 200;
        width: 60%;
        // height: 100%;
    }
}


//  TOP SECTION START  ******************************************** -->
 .top-section {
    height: 90vh;
    // background-color: $mano_spalva;
    position: relative;
    overflow: hidden;
    
    background-image: url("../img/cover1.jpg");
    background-attachment: fixed;
    background-size: cover;
    
    
    .absolute-left-bottom {
        position: absolute;
        left: 15%;
        bottom: 30%;
        h1 { font-weight: 700; }
        
        
        // background-color: rgba(255, 255, 255, 0.452);
        // border-radius: 25px;
    }
    article {
        width: 40%;
        h1 {
            font-size: 4rem;
        }
    }
 }

 //  TOP SECTION END  *****************************************

 //  NAV SECTION START  *****************************************
.trigger-height {
    height: 100px;
}

 .nav-container {
    padding-left: 0;
    padding-right: 0;
    
    // kontaktai materialize logo 
    .nav-wrapper {

        #logo-text {
            right: 150px;
            color: $spalva_tamsiai_juoda;
        }
        .brand-logo {
            padding-top: 20px;
        }
        img {
        height: 100%;
        }
        ul > li h5 {
            color: $spalva_tamsiai_juoda;
        }
    }
    
    .navbar {
        // border: 1px solid $nav_border_spalva;
        background-color: $nav_spalva;
    }
    .nav-link {
        @include navBorderFill();
        
    }

    i {
        font-size: 2rem;
    }

    img {
        height: 70px;
        width: 70px;
    }

} 
 //  NAV SECTION END  *****************************************

//  THREE PIC SECTION START  ************************************
.three-pic-container{
    overflow: hidden;
    // height: 1500px;

    .three-pic-row {
        height: 60vh;
       
    }
    
    img {
        margin-top: 15px;
        @include imgShadow();
    }

    
    .item-container {
        background-color: rgb(241, 241, 241);
        overflow: hidden;
    }
    
    .img-container {
        position: relative;
        // border: 1px solid black;
       
    }
    .sale-container {
        position: absolute;
        top: 10%;
        right: 5px;
    }
    
}
// THREE PIC SECTION end  ************************************

// PICTURE GRID HEADLINE SECTION START  *******************
.text-headline-container-column {
    @include boxShadow();
    .line-div {
        @include lineDiv();
    }
}
//PICTURE GRID HEADLINE SECTION END  *********************
.pic-grid-container {

    .col-md-4, .col-md-8 {
        position: relative;
        transition: 1.2s;
        &:hover h2 {
            opacity: 1;
        }
        
        
        h2 {
            transition: 1.5s ease;
            opacity: 0;
            position: absolute;
            left: 9%;
            bottom: 10%;
            background-color: rgba(231, 165, 79, 0.61);
            padding: 10px;
            border-radius: 10px;
            
            
        }

       
        
        img {
            @include antPaveikslo();
        }
    
    }

    // Cia bandom grazu howeri parsitraukt

    
    
}



// Review sec START
.comments-section {
    position: relative;
    // background-attachment: fixed;
    
    .fb-post {
        @include boxShadow();
    }
    .btn-container {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;

        i {
            font-size: 2rem;
        }
        
    }
}


// Revview sec END

// Footer

footer {
    background-image: url(../img/footer-bg.png);
    background-attachment: fixed;
    
    a {
        text-decoration: none;
        font-size: 3rem;
        margin-right: 20px;
        color: antiquewhite;
        vertical-align: center;
    }
    
    

    .row {
        margin-top: 20px;
        padding-top: 20px;
        text-align: center;
        // height: 40vh;
    }
}



// Shop.html *****************************

.items-section {

    article {
        
    }
    
    .item-container {
        border-right: 1px solid rgba(133, 133, 133, 0.692);
        // @include navBorderFill();
        
    }
    
    .img-container {
        position: relative;
        // min-height: 525px;
        overflow: hidden;
        // height: 100%;
    }
    
    img {
        @include imgScale();
        min-height: 525px;
        min-width: 100%;
    }
    
    .sale-container {
        position: absolute;
        top: 10%;
        right: 5px;
        // color: rgb(178, 152, 192);
    }
}


// Kontaktai 

.map {
    height: 100%;
    @include boxShadow();
  }


//   item.html preke.html
.spacing {
    height: 200px;
}


.additional-items-row {

    .sale-container {
        position: absolute;
        top: 10%;
        right: 5px;
        // color: rgb(178, 152, 192);
    }
}



// INDEX1.php


.carousel-container {
    
    width: 80%;
    overflow: hidden;
    .additional-images-row {
        
        div {
            flex-shrink: 0;
            width: 16%;
            
            img {
                
            }
        }
    }
}


.main1-container {
    .navbar {
        background-color: white;
     
    }
}
